testing_samples/
testing/
server/webserver/__pycache__/
server/webserver/uploads/
server/webserver/scripts/__pycache__/
server/webserver/scripts/__pycache__/uploadFile.cpython-310.pyc
server/webserver/scripts/__pycache__/uploadFile.cpython-312.pyc
**/__pycache__/
server/webserver/setupFiles/.minecraft.zip
server/webserver/setupFiles/HeadlessMC.zip
server/machinery/creds.txt
server/webserver/app.log
server/backend/test_files/