<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>SkidX</title>
</head>
<body>
    <div class="sidebar">
        <button type="button" class="sidebar-button" onclick="loadPage('')">Home</button>
        <button type="button" class="sidebar-button" onclick="loadPage('search')">Search</button>
        <button type="button" class="sidebar-button" onclick="loadPage('idk')">idk</button>
    </div>
    <div class="content" id="mainContent" style="text-align: center;">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
        <br>
        <img src="{{ url_for('static', filename='error.gif') }}" alt="Error GIF">
        <h1>The requested file has not been analysed yet</h1>
    </div>
    <script>
        function loadPage(route) {
            console.log("Navigating to: " + route);
            window.location.href = "/" + route;
            return false;
        }
    </script>
</body>
</html>
